        </main>
        <footer class="site-footer">
            <div class="row">
                <a href="https://www.nicolassaumont.com/"><small>Nicolas Saumont © 2023</small></a>
            </div>
        </footer>
    </div>
</body>

</html>