<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Diotilogie</title>
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div class="container">
      <header class="site-header">
        <div class="img-container">
          <img
            class="site-header__image"
            src="/img/header-image.jpg"
            alt="image de presentation"
          />
        </div>
        <nav class="main-menu">
          <a class="main-menu_item" href="/">
            <img
              class="main-menu__icon"
              src="/img/icons/home.png"
              alt="main menu home icon"
            />
            <p class="main-menu__text">Accueil</p>
          </a>
          <a class="main-menu_item" href="/questions">
            <img
              class="main-menu__icon"
              src="/img/icons/questions.png"
              alt="main menu tags icon"
            />
            <p class="main-menu__text">Questions</p>
          </a>
          <%if (!userMail){%>
          <a class="main-menu_item" href="/login">
            <img
              class="main-menu__icon"
              src="/img/icons/logIn.png"
              alt="main menu login icon"
            />
            <p class="main-menu__text">Se connecter</p>
          </a>
          <%}else{%>
          <a class="main-menu_item" href="/profil/<%= userID %>">
            <img
              class="main-menu__icon"
              src="/img/icons/userProfile.png"
              alt="main menu user profile icon"
            />
            <p class="main-menu__text">Mon profil</p>
          </a>
          <a class="main-menu_item" href="/logout">
            <img
              class="main-menu__icon"
              src="/img/icons/logOut.png"
              alt="main menu logout icon"
            />
            <p class="main-menu__text">Déconnection</p>
          </a>
          <%}%>
        </nav>
      </header>
      <main>
