<%- include('./partials/header.ejs') %>

<h2 class="page-title">Connectez-vous</h2>

<form action="" method="POST" class="form form--signin">
  <div class="form-label-group">
    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
      aria-describedby="emailHelp"
      placeholder="Votre email"
    />
    <label for="email">Votre email</label>
  </div>

  <div class="form-label-group">
    <input
      type="password"
      class="form-control"
      id="password"
      name="password"
      placeholder="Votre mot de passe"
    />
    <label for="password">Votre mot de passe</label>
  </div>

  <% if (errorMessage) { %>
  <div class="error-message"><%= errorMessage %></div>
  <% } %>

  <button class="btn btn--login" type="submit">Se connecter</button>
  <p class="signup"><a href="/signup">Je n'ai pas encore de compte.</a></p>
</form>

<%- include('./partials/footer.ejs') %>
