<%- include('./partials/header.ejs') %>

<h2 class="page-title">Inscrivez-vous</h2>

<form action="" method="POST" class="form form--signup">
  <div class="form-label-group">
    <input
      type="username"
      class="form-control"
      id="username"
      name="username"
      placeholder="Votre nom d'utilisateur"
    />
    <label for="username">Votre nom d'utilisateur</label>
  </div>

  <div class="form-label-group">
    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
      aria-describedby="emailHelp"
      placeholder="Votre email"
    />
    <label for="email">Votre email</label>
  </div>

  <div class="form-label-group">
    <input
      type="password"
      class="form-control"
      id="password"
      name="password"
      placeholder="Votre mot de passe"
    />
    <label for="password">Votre mot de passe</label>
  </div>

  <div class="form-label-group">
    <input
      type="passwordConfirm"
      class="form-control"
      id="passwordConfirm"
      name="passwordConfirm"
      placeholder="Confirmez votre mot de passe"
    />
    <label for="passwordConfirm">Confirmez votre mot de passe</label>
  </div>

  <% if (errorMessage) { %>
  <div class="error-message"><%= errorMessage %></div>
  <% } %>

  <button class="btn btn--signin" type="submit">S'enregistrer</button>
</form>

<%- include('./partials/footer.ejs') %>
